@page "/createcult"

@using BlazorBootstrap
@using ThingyDexer.Model.General;
@using ThingyDexer.ViewModel
@using ThingyDexer.ViewModel.Table
@using ThingyDexer.WASM.Shared.Components

<PageTitle>Create a Cult</PageTitle>

<h1>Starting a cult</h1>

@if (true)
{
    <CultNameGenerator></CultNameGenerator>
}
@*
                                         else
                                         {
                                         <Callout Type="CalloutType.Tip">
                                         <h4>Try clicking the button ...</h4>
                                         </Callout>
                                         }
                                         *@



