@page "/"

<PageTitle>Home</PageTitle>

<div>
    <div class="row">
        @if ((string.IsNullOrEmpty(Test) == false))
        {
            @((MarkupString)Test)
        }
    </div>
</div>

<div>
    <div class="row">
        <div class="col-lg-6">
            @if ((string.IsNullOrEmpty(Welcome) == false))
            {
                @((MarkupString)Welcome)
            }
        </div>

        <div class="col-lg-6">
            @if (string.IsNullOrEmpty(ReleaseNotes) == false)
            {
                @((MarkupString)ReleaseNotes)
            }
        </div>
    </div>
</div>


