@page "/"

<PageTitle>ThingyDexer?</PageTitle>

<div>
    <div class="row">
        <div class="col-lg-6">
            @if ((string.IsNullOrEmpty(Welcome) == false))
            {
                @((MarkupString)Welcome)
            }
        </div>

        <div class="col-lg-6">
            @if (string.IsNullOrEmpty(ReleaseNotes) == false)
            {
                @((MarkupString)ReleaseNotes)
            }
        </div>
    </div>
</div>


