@inherits ComponentBase

@using ThingyDexer.Model.Table

<span>
    @if (Value != null)
    {
        <Button Type="ButtonType.Button"
            Color="ButtonColor.Primary"
            Outline=@(SelectedRegel?.Equals(Value) != true)
            Active=false
            @onclick="@(() => {
                                if (SelectedRegel?.Equals(Value) == true)
                                {
                                    DoRollSelectedRegel();
                                }
                                else
                                {
                                    DoSelectNoun();
                                }
                            })">
            @{
                if (SelectedRegel?.Equals(Value) == true)
                {
                    <Icon Name="IconName.Dice2Fill" />
                }
                else
                {
                    <Icon Name="IconName.Dice2" />
                }
            }
            <div>
                @{
                    string? displayValue;
                    if ((string.IsNullOrEmpty(Value?.Value) == false) && (SuffixAction != null))
                    {
                        displayValue = SuffixAction(Value.Value);
                    }
                    else
                    {
                        displayValue = Value?.Value;
                    }
                }
                @displayValue
            </div>
        </Button>
    }
    else
    {
        <Button Type="ButtonType.Button"
            Color="ButtonColor.Secondary"
            Outline=true
            @onclick="@(() => DoRollSelectedRegel())">
            <Icon Name="IconName.PlusCircle"></Icon>
            <div>
                @{
                    string? displayValue = Table?.Name;
                }
                [@displayValue]
            </div>
        </Button>
    }

</span>

