@inherits LayoutComponentBase

<div class="bb-page primary-color">

    <Sidebar IconName="IconName.BookHalf"
             Title="Thingydex"
             BadgeText="v0.1.19 (ALPHA)"
             DataProvider="SidebarDataProvider"
             @ref="sidebar" />

    <main>
        <div class="bb-top-row px-4 d-flex justify-content-between">
            <Icon Name="@(ToggleSidebarIcon ? IconName.ArrowBarLeft : IconName.ArrowBarRight)"
                  role="button" @onclick="ToogleSidebar" />
            @*<a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>*@

            <UpdateAvailableDetector />

            @if (System.Diagnostics.Debugger.IsAttached)
            {
                <Alert Color="AlertColor.Danger">DEBUG-mode?</Alert>
            }

        </div>

        <article class="content px-1">
            <div class="py-1">
                @Body
            </div>
        </article>

    </main>

</div>
