@inherits LayoutComponentBase

<div class="bb-page">

    <Sidebar IconName="IconName.Dice6Fill"
             Title="Thingydex"
             BadgeText="v0.1.0 (ALPHA)"
             DataProvider="SidebarDataProvider" />

    <main>
        <article class="content px-4">
            <div class="py-2">
                @Body
            </div>
        </article>
    </main>

</div>

