<EditForm Model="ViewModel">
    <DataAnnotationsValidator></DataAnnotationsValidator>
    <ValidationSummary></ValidationSummary>
    <div class="row">
        <div class="col-sm-auto py-1 px-1">

            [CultName : @ViewModel.CultName]
        </div>
    </div>
    <div class="row">
        <div class="col-sm-auto py-1 px-1">
            [Deity : @ViewModel.Deity]
        </div>
    </div>
    <div class="row">
        <div class="col-sm-auto py-1 px-1">
            [TODO : description]
        </div>
    </div>
    <div class="row">
        <div class="col-sm-auto py-1 px-1">
            [TODO : primary focus = (Strength / Dexterity / Intelligence / Defense)]
        </div>
    </div>
    <div class="row">
        <div class="col-sm-auto py-1 px-1">
            [TODO : (starting) favour = 300 in campaign / 500 in one-off mode      ]
        </div>
    </div>
    <div class="row">
        <div class="col-sm-auto py-1 px-1">
            [TODO : initial power : 0]
        </div>
    </div>
    <div class="row">
        <div class="col-sm-auto py-1 px-1">
            [TODO : add rituals (4 rituals init)]
        </div>
    </div>
</EditForm>
