@using ThingyDexer.WASM.Pages.Wizard

<div class="container-fluid">
    @if (ViewModel.UseGenerator == true)
    {
        <h3>Generate Cult name</h3>
    }
    else
    {
        <h3>Edit Cult name</h3>
    }

    <Wizard Id="DemoWizard">
        <WizardStep Name="Choose name generator" Title="Pick a naming convention for your Cult"
                    ViewModel=@ViewModel.Settings
                    BeforeNextStepAction="@(() => {})"
                    AfterNextStepAction="@(() => 
                                            { 
                                                ViewModel.GenerateCultName();
                                            })">
            <CultnameTypeSelector CultNameSettingsEditModel=@ViewModel.Settings
                
                                  />
        </WizardStep>
        <WizardStep Name="Generate name" Title="Generate name"
                    ViewModel=@ViewModel
                    BeforeNextStepAction="@(() => {})"
                    AfterNextStepAction="@(() => {})">

            <CultNameGenerator CultNameSettingsEditModel=@EditModel
                               CultNameSettingsViewModel=@ViewModel />
        </WizardStep>
    </Wizard>
</div>